@font-face {
  font-family: metroBold;
  src: url("../../../src/fonts/Metropolis-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: metroLight;
  src: url("../../../src/fonts/metropolis.thin.otf") format("opentype");
}
@font-face {
  font-family: metroUltraBold;
  src: url("../../../src/fonts/metropolis.black.otf") format("opentype");
}
@font-face {
  font-family: metroUltraBold;
  src: url("../../../src/fonts/metropolis.black.otf") format("opentype");
}
@font-face {
  font-family: lulo;
  src: url("../../../src/fonts/Lulo\ Clean\ One\ Bold.otf") format("opentype");
}

* {
  --metropolisBold: metroBold;
  --metropolisLight: metroLight;
  --metroUltraBold: metroUltraBold;
  --lulo: lulo;
}
.empty{
  color: #ffffff00;
}
.blockWhoAreWe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.descriptionTxt {
  width: 45rem;
  font-family: var(--metropolisLight);
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}
.title {
  font-family: var(--lulo);
  font-size: 3rem;
  color: #066699;
}
.ourCompany {
  font-size: 1.2rem;
  font-family: var(--lulo);
  color: #066699;
}
.teamworkTitle {
  color: #066699;
}
.ourHistoryTitle {
  margin-left: 6rem;
}
.teamWork {
  margin-top: 2rem;
  height: 80vh;
  background-color: #02346e18;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.teamWork h1 {
  text-align: center;
  width: 100%;
  max-height: 10%;
  font-family: var(--metroUltraBold);
  color: #066699;
  font-size: 2.5rem;
}

.ourHistory {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bgTxtHistory {
  background: #ffb200;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.678);
  border-top-left-radius: 30rem;
  border-bottom-left-radius: 30rem;
}
.textHistory {
  width: 45rem;
  font-weight: 600;
  padding: 7rem;
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--metropolisLight);
  margin-left: 5rem;
}
.MVcontainer {
  margin-bottom: 5rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  text-align: center;
  height: 25rem;
  align-items: center;
  font-family: var(--metropolisLight);
}
.misionVisionTitles {
  font-family: var(--metroUltraBold);
  font-size: 1.8rem;
  letter-spacing: 0.32rem;
}
.blueLineTop {
  margin-top: 5rem;
  background: #066699;
  width: 35rem;
  color: #066699;
  height: 1rem;
  border-bottom-right-radius: 100%;
  font-size: 0.1rem;
}
.blueLineBottom {
  position: relative;
  bottom: 0;
  left: 49.3rem;
  margin-top: 5rem;
  background: #066699;
  width: 35rem;
  color: #066699;
  height: 1rem;
  border-top-left-radius: 100%;
  font-size: 0.1rem;
  margin-bottom: 2rem;
}
.misionContain {
  font-size: 0.9rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
  border: 2px solid #ffb200;
  padding: 5rem;
  box-shadow: 0px 0px 30px #ffb200;
  font-size: 0.9rem;
}
.visionContain {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
  font-size: 0.9rem;
  height: 25rem;
  border: 2px solid #ffb200;
  padding: 5rem;
  box-shadow: 0px 0px 30px #ffb200;
}

.our {
  color: #ffb200;
  font-size: 4rem;
  font-family: var(--metropolisBold);
}
.history {
  color: #066699;
  font-size: 4rem;
  font-family: var(--metropolisBold);
}
.pictures {
  width: 100%;
  height: 85%;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.carousel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  caret-color: transparent;
}

.carousel__images {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.carousel__image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}

.modal__image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
}

.arrow :hover {
  transform: scale(1.4);
  color: #0b55aa;
}

.arrow :active {
  color: rgb(17, 231, 17);
}

.arrow_left {
  margin-right: 10px;
}

.arrow_right {
  margin-left: 10px;
}

@media (width>=1480px) {
  .history {
    font-size: 6rem;
  }
  .our {
    font-size: 6rem;
  }

  .textHistory {
    width: 64rem;
    font-size: 2.2rem;
    margin-left: 5rem;
  }
  .descriptionTxt {
    width: 45rem;
    font-size: 2rem;
  }
  .ourCompany {
    font-size: 1.2rem;
  }
  .title {
    font-size: 4rem;
  }

  .ourCompany {
    font-size: 2.2rem;
  }
  .misionVisionTitles {
    font-size: 2rem;
  }
  .blueLineBottom {
    left: 86.9rem;
  }
}
@media (width<=1280px) {
  .blueLineBottom {
    left: 45rem;
  }
}

@media (width<=1024px) {
  .blueLineBottom {
    left: 29.3rem;
  }
  .textHistory {
    width: 33rem;
    font-size: 1rem;
  }
  .our {
    font-size: 3rem;
  }
  .history {
    font-size: 3rem;
  }
}

@media (width<=912px) {
  .blueLineBottom {
    left: 22rem;
  }
  .textHistory {
    width: 33rem;
    font-size: 1rem;
  }
  .our {
    font-size: 2rem;
  }
  .history {
    font-size: 2rem;
  }
  .textHistory {
    width: 27rem;
    padding: 5rem;
    font-size: 1rem;
  }
  .teamWork {
    height: 40vh;
  }
}
@media (width<=820px) {
  .blueLineBottom {
    left: 16.25rem;
  }
  .visionContain {
    gap: 2rem;
    width: 24rem;
    height: 28rem;
  }

  .misionContain {
    height: 28rem;
    gap: 2rem;
    width: 21rem;
  }

  .MVcontainer {
    gap: 1rem;
    height: 26rem;
  }
  .blueLineBottom {
    left: 13rem;
  }
  .textHistory {
    width: 24rem;
    padding: 3rem;
    font-size: 1rem;
  }
}

@media (width<=540px) {
  .blueLineBottom {
    margin-top: 2rem;
    left: 15.7rem;
    width: 18rem;
  }
  .blueLineTop {
    width: 18rem;
    margin-top: 1rem;
  }
  .descriptionTxt {
    width: 90vw;
  }
  .title {
    text-align: center;
  }
  .our {
    font-size: 1.5rem;
  }
  .history {
    font-size: 1.5rem;
  }
  .textHistory {
    width: 37vw;
    padding: 1rem;
    font-size: 0.7rem;
  }
  .MVcontainer {
    margin-bottom: 2rem;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
    height: 51rem;
  }
  .misionContain {
    width: 80vw;
  }
  .visionContain {
    width: 80vw;
  }
  .teamWork h1 {
    font-size: 1.5rem;
  }
  .ourHistory {
    display: grid;
    grid-template-columns: 44% 56%;
    text-align: center;
  }
  .ourHistoryTitle {
    margin-left: 0rem;
  }
}
@media (width<=414px) {
  .blueLineBottom {
    margin-top: 5rem;
    left: 8rem;
    width: 18rem;
}
.MVcontainer {
  margin-top: 6rem;
}
.teamWork {
  height: 37vh;
}
.teamWork h1 {
  font-size: 1.1rem;
}
.carousel__images {
   margin-left:0rem; 
   margin-right: 0rem; 
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.pictures {
  width: 100%;
  height: 100%;
  margin-top: 0rem;
  padding-bottom: 1cqb;
}
.arrow :hover {
  transform: scale(1);
}

.carousel__image {
  width: 58%;
  height: 100%;
}
.textHistory {
  width: 42vw;
  padding: 2rem;
  font-size: 0.6rem;
}
.ourHistory {
    grid-template-columns: 35% 65%;

}
}
@media (width<=412px) {
  .ourHistory {
  display: grid;
  grid-template-columns: 38% 62%;
  text-align: center;
}.textHistory {
 
  font-size: 0.6rem;
}.blueLineBottom {
  width: 69vw;
}
.textMisionVision{
  font-size: 0.8rem;
}

}
@media (width<=375px){
  .carousel__image {
    width: 64%;
    height: 34%;
  } 
  .teamWork{
    height: 50vh;
  }
  .blueLineBottom {
    width: 65.8vw;
}
}
@media (width<=360px){
  .blueLineBottom {
    width: 64.4vw;
  }
  .textMisionVision {
  font-size: 0.7rem;
}
.textHistory {
  font-size: 0.5rem;
}
}


