@import url("https://fonts.cdnfonts.com/css/maiandra-gd");
@import url("https://fonts.cdnfonts.com/css/metropolis-2");
@import url("https://fonts.cdnfonts.com/css/avenir");

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400;500;600;700&display=swap");
:root {
  --headlinesFont: "Maiandra GD", sans-serif;
  /* --bodyFont: "Work Sans", sans-serif; */
  --wildWatermelon: #42da1c;
  --fuelYellow: #f0a035;
  --textColor: #323232;
  --bodyBg: #d6d6d6;
  --white: #fff;
  --black: #000;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.positionHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.imgHome {
  vertical-align: text-bottom;
}

.yellowBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 720px;
  background-color: #ffb200;
  border-radius: 2rem;
  margin-top: 5rem;
}

.ft-recipe {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 500px;
  height: 680px;
  background: var(--white);
  border-radius: 2rem;
  padding: 10px;
  z-index: 2;
}
.ft-recipe .ft-recipe__thumb {
  position: relative;
  height: 330px;
  width: 100%;
  margin: 0px;
}

.slider {
  width: 200%;
  height: 100%;
  
}

.slider ul {
  display: flex;
  animation: cambio 15s infinite alternate linear;
  width: 100%;
  height: 100%;


}
.slider li {
  width: 100%;
  margin: 10px;
  list-style: none;
}
.slider img {
  width: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 0;
  }

  55% {
    margin-left: -50%;
  }
  100% {
    margin-left: -50%;
  }
}
/* @media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider,
  .slider ul,
  .slider img {
    height: 100vh;
  }
} */

.ft-recipe .ft-recipe__thumb #close-modal:hover {
  background: transparent;
  color: var(--black);
}

.ft-recipe .ft-recipe__thumb img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  /* -o-object-position: 50% 50%;
  object-position: 50% 50%; */
}

.ft-recipe .ft-recipe__content {
  flex: 1;
  padding: 0 2em 1em;
}
.ft-recipe .ft-recipe__content .content__header .row-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.55em 0 0.3em;
}
.ft-recipe .ft-recipe__content .content__header .row-wrapper .recipe-title {
  /* font-family: 'Metropolis', sans-serif; */
  font-family: "Maiandra GD", sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 2px;
  /* margin-top: -4rem; */
  /* o lo saco  */
}

.ft-recipe .ft-recipe__content .description {
  text-align: justify;
  font-family: "Avenir", sans-serif;
  font-size: 1em;
}
.buttonNosotrosPosition {
  display: flex;
  justify-content: center;
}

.buttonNosotros {
  padding: 5px;
  background-color: #002b5b;
  border: solid 4px #002b5b;
  font-family: "Maiandra GD", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.buttonNosotros:hover {
  background-color: rgb(238, 235, 235);
  border: solid 4px #002b5b;
  color: #002b5b;
}
.iconB {
  margin-bottom: -5px;
}

/* ------------------------------------------------------------ */
.selectionPosition {
  margin-top: 5rem;
  height: 720px;
  margin-bottom: 5rem;
}

/* ------------------------------------------------------------------- */

.container {
  background-color: #002b5b;
  display: grid;
  grid-template-columns: 300px 510px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.678);
  border-radius: 1rem;
  height: 330px;
  width: 670px;
  margin-bottom: 4.5rem;
}
.container img {
  width: 250px;
  height: 150px;
}
.container .btn {
  display: flex;
  border: none;
  outline: none;
  background-color: #00973a;
  border: solid 4px #00973a;
  font-family: "Maiandra GD", sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
  border-radius: 10px;
}

.btn:hover {
  border: solid 4px #00973a;
  color: #00973a;
  background-color: rgb(228, 221, 221);
}

.container__text {
  padding: 40px 40px 0;
  width: 700px;
}
.container__text h1 {
  color: white;
  font-weight: 600;
  font-size: 2.2rem;
  font-family: "Maiandra GD", sans-serif;
  /* font-family: 'Metropolis', sans-serif; */
  text-align: center;
  margin-right: 2rem;
}

.container__text .container__text__star span {
  font-size: 0.8rem;
  color: #ffa800;
  margin: -5px 0 20px;
}
.positionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.positionContainer img {
  width: 210px;
  height: 200px;
  margin-right: 20px;
}
.positionContainer b {
  font-family: "Metropolis", sans-serif;
}
.container__text h4 {
  color: white;
  font-size: 1rem;
  /* font-family: 'Maiandra GD', sans-serif; */
  font-family: "Metropolis", sans-serif;
  text-align: start;
}
.container__text p {
  color: white;
  font-size: 1rem;
  font-family: "Avenir", sans-serif;
  text-align: start;
  width: 60%;
  margin-top: 2rem;
}

.constructor {
  position: absolute;
  margin-top: -4px;
  width: 205px;
  height: 74px;
  background-color: #f7f6f4;
  z-index: 2;
  /* margin-left: 200px; */
  padding: 15px;
  border: 4px solid;
  border-top-color: #f7f6f4;
  border-bottom-color: #f7f6f4;
  border-left-color: #ffb200;
  border-right-color: #ffb200;
}

.slideTitle {
  font-family: "Maiandra GD", sans-serif;
  text-align: center;
  margin-top: 5px;
  color: #1949e7;
}

/* -------------------------------------------------------- */

.positionCarouselAuto {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.897);
  border-radius: 2rem;
  width: 670px;
  height: 315px;
}

.contentCarousel {
  width: 35%;
  height: 100%;
  margin-top: 15px;
  margin-left: 15px;
}

.contentCarousel p {
  text-align: justify;
  font-size: 1rem;
  font-family: "Maiandra GD", sans-serif;
  padding: 10px;
}
.contentCarousel b {
  font-size: 1rem;
  color: rgb(10, 119, 209);
  font-family: "Maiandra GD", sans-serif;
}

.contentCarousel li {
  margin-left: 30px;
  font-size: 1;
  font-family: "Maiandra GD", sans-serif;
  text-align: left;
  font-weight: 700;
}

.slider2 {
  width: 65%;
  height: 600px;
  overflow: hidden;
}
.slider2 ul {
  display: flex;
  animation: cambio2 15s infinite alternate linear;
  width: 400%;
}
.slider2 li {
  width: 100%;
  list-style: none;
}
.slider2 img {
  padding: 1rem;
  width: 90%;
  height: 90%;
  margin-top: 15px;
  margin-left: 30px;
}
@keyframes cambio2 {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* @media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider2,
  .slider2 ul,
  .slider2 img {
    height: 100vh;
  }
} */

/* -------------------------------------------------------------------- */
.containerHome2 {
  /* position: absolute; */
  width: 750px;
  /* margin-left: 470px; */
  /* margin-top: -500px; */
  margin-bottom: 50px;
  /* padding: 1px 2px 2px 2px; */
  /* position: absolute; */
  z-index: 1;
  background-color: #066699;
  color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 20px 20px 20px rgba(131, 129, 129, 0.651);
}

.carouselHome2 {
  display: block;
  text-align: left;
  position: relative;
  /* margin-bottom: 22px; */
  /* background-color: #066690; */
  background-color: #f7f6f4;
  border-radius: 15px;
  box-shadow: 0px 0px 35px rgb(0, 0, 0);
  padding: 12px;
  border: 4px solid #ffb200;
}

.carouselHome2 > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carouselHome2
  > input:nth-of-type(6):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -500%;
}
.carouselHome2
  > input:nth-of-type(5):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -400%;
}
.carouselHome2
  > input:nth-of-type(4):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -300%;
}
.carouselHome2
  > input:nth-of-type(3):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -200%;
}
.carouselHome2
  > input:nth-of-type(2):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -100%;
}
.carouselHome2
  > input:nth-of-type(1):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: 0%;
}
.carouselHome2
  > input:nth-of-type(1):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px #ffb200;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(2):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px #ffb200;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(3):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px #ffb200;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(4):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px #ffb200;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(5):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px #ffb200;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(6):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px #ffb200;
  border-radius: 10px;
}
.initialPosition2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel__slides2 {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide2 {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
  border-radius: 20px;
}
.carousel__slide2 figure {
  display: flex;
  margin: 0;
}
.carousel__slide2 div {
  position: relative;
  width: 100%;
}
.carousel__slide2 div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide2 div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.carousel__slide2 img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide2 figcaption {
  align-self: flex-end;
  text-align: justify;
  padding: 20px 20px 10px 20px;
  flex: 0 0 auto;
  width: 29%;
  min-width: 150px;
  background-color: #faf7f534;
  font-family: "Maiandra GD", sans-serif;
  margin: 10px;
  border-radius: 10px;
  color: rgb(8, 8, 8);
  /* border: #ffb200 solid 3px; */
}

.carousel__slide2 .credit2 {
  margin-top: 1rem;
  color: rgb(7, 245, 66);
  display: block;
}
.carousel__slide2.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails2 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides2 + .carousel__thumbnails2 {
  margin-top: 20px;
}
.carousel__thumbnails2 li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails2 label {
  display: block;
  position: relative;
}
.carousel__thumbnails2 label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails2 label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails2 label:hover,
.carousel__thumbnails2 label:focus {
  cursor: pointer;
}
.carousel__thumbnails2 label:hover img,
.carousel__thumbnails2 label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* ---------------------------------------------------------------------- */

.dividerBlue {
  height: 120px;
  width: 100%;
  border: 2px solid;
  border-bottom-color: black;
  border-top-color: #066699;
  border-right-color: #066699;
  border-left-color: #066699;
  /* background-color: #002B5B; */
  background-color: #066699;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dividerBlue h1 {
  color: white;
  font-family: "Maiandra GD", sans-serif;
  font-size: 2.5rem;
}

.titleProyects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.titleProyects h1 {
  font-size: 4rem;
  font-family: "Maiandra GD", sans-serif;
  margin: none;
  padding: none;
}

.titleProyects img {
  width: 120px;
}

/* --------------------------------------------------------------------- */

.allProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.imagesProjects {
  width: 400px;
  height: 300px;
  border: solid 5px rgb(221, 219, 219);
  margin-bottom: 5rem;
}

.imagesProjects img {
  width: 100%;
  height: 100%;
}

.imagesProjects h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -298px;
  /* background-color: #18181894 ; */
  background-color: #002a5b65;
  z-index: 2;
  position: absolute;
  width: 390px;
  height: 290px;
  font-family: "Maiandra GD", sans-serif;
  color: white;
  letter-spacing: 8px;
}

.imagesProjects p {
  margin-top: 50px;
  font-family: "Maiandra GD", sans-serif;
  z-index: 2;
  position: absolute;
  font-size: 1rem;
}

.imagesProjects h1:hover {
  background-color: #002a5b00;
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
}

.hrYellow {
  position: absolute;
  z-index: 2;
  width: 400px;
  height: 13px;
  border: solid 3px #ffb200;
  margin-top: 0.5rem;
  /* margin-top: -1.6rem; */
  margin-left: -5px;
  background-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom: solid 1px #ffb200;
}

.hrblue {
  position: absolute;
  z-index: 2;
  width: 400px;
  height: 13px;
  border: solid 3px #002b5b;
  margin-top: 0.5rem;
  margin-left: -5px;
  background-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom: solid 1px #002b5b;
}

/* -------------------------------------------------------------------------- */

.decoration {
  width: 100%;
  height: 320px;
  background-image: url("https://res.cloudinary.com/dxajrtcwk/image/upload/v1684179931/APTOSs_qgh97x.jpg");
  /* rotate: calc(90deg); */
  background-size: cover;
  background-position: 20px -300px;
}

.decoration:hover {
  transition: 10s;
  background-position: 20px -1700px;
}

.decoration2 {
  background-color: #002a5b9a;
  width: 100%;
  height: 100%;
}
dd


/* -------------------------------------------------------------------------- */
.aaa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* @media (max-width: 1420px) {
  .barra3 {
    margin-top: 6rem;
    margin-left: 3.5vw;
    height: 120vh;
    width: 41vw;
    position: absolute;
    background-color: #ffb200;
    border-radius: 2rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.897);
    margin-bottom: none;
  }
}

@media (max-width: 1360px) {
  .ft-recipe {
    margin-left: 21%;
    margin-right: 2rem;
    height: 680px;
  }

  .barra3 {
    height: 125vh;
    margin-left: 3vw;
    width: 42vw;
    height: 110vh;
  }

  .container {
    margin-left: -16rem;
    width: 600px;
  }
  .container img {
    width: 170px;
    height: 180px;
    margin-left: -10px;
  }
  .container__text h1 {
    margin-right: 5rem;
  }
  .positionCarouselAuto {
    width: 600px;
    margin-left: 43rem;
  }
}

@media (max-width: 1300px) {
  .barra3 {
    width: 44vw;
    height: 125vh;
    margin-left: 1vw;
  }
  .positionCarouselAuto {
    width: 600px;
    margin-left: 38rem;
  }

  .container {
    margin-left: -16rem;
    width: 600px;
  }
}

@media (max-width: 1230px) {
  .ft-recipe {
    margin-left: 22%;
    margin-right: 2rem;
    height: 680px;
    width: 39vw;
  }
  .positionCarouselAuto {
    width: 600px;
    margin-left: 35rem;
  }

  .container {
    margin-left: -16rem;
    width: 600px;
  }
}

@media (max-width: 1170px) {
  .container {
    margin-left: -16rem;
    width: 500px;
  }
  .ft-recipe {
    margin-left: 20%;
    margin-right: 2rem;
    height: 680px;
    width: 39vw;
  }
  .container__text h1 {
    margin-right: 11rem;
    font-size: 1.8rem;
  }
  .container__text p {
    width: 50%;
  }
  .ft-recipe .ft-recipe__content .content__header .row-wrapper .recipe-title {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
  }

  .ft-recipe .ft-recipe__content .description {
    font-size: 0.9rem;
  }

  .positionCarouselAuto {
    width: 500px;
    margin-left: 33rem;
  }
  .contentCarousel p {
    font-size: 0.8rem;
  }
}

@media (max-width: 1120px) {
  .positionCarouselAuto {
    margin-left: 30rem;
  }
}

@media (max-width: 1100px) {
  .container {
    margin-left: -10rem;
    width: 400px;
  }
  .container__text h1 {
    margin-right: 18rem;
    font-size: 1.4rem;
  }
  .container__text p {
    width: 26%;
    font-size: 0.7rem;
  }
  .positionCarouselAuto {
    width: 400px;
    margin-left: 38rem;
  }
  .contentCarousel p {
    font-size: 0.8rem;
    padding: 2px;
    margin-top: -1rem;
  }
  .contentCarousel b {
    font-size: 0.8rem;
  }

  .contentCarousel li {
    margin-left: 30px;
    font-size: 1;
    font-weight: 600;
  }

  .slider2 img {
    width: 90%;
    height: 90%;
    margin-top: 15px;
    margin-left: 20px;
  }
}

@media (max-width: 1100px) {
  .positionCarouselAuto {
    margin-left: 48%;
  }
}

@media (max-width: 1000px) {
  .ft-recipe {
    margin-left: 21%;
  }

  .ft-recipe .ft-recipe__content .content__header .row-wrapper .recipe-title {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .ft-recipe .ft-recipe__content .description {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .ft-recipe {
    margin-left: 23%;
    margin-top: 28.3rem;
  }
  .barra3 {
    height: 121vh;
  }
} */
