@font-face {
  font-family: metroBold;
  src: url("../../../src/fonts/Metropolis-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: metroLight;
  src: url("../../../src/fonts/metropolis.thin.otf") format("opentype");
}
@font-face {
  font-family: metroUltraBold;
  src: url("../../../src/fonts/metropolis.black.otf") format("opentype");
}

* {
  --metropolisBold: metroBold;
  --metropolisLight: metroLight;
  --metroUltraBold: metroUltraBold;
}
.titleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

.contactContain {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.contactTitle {
  color: #066699;
  font-size: clamp(2rem, 6vw, 4rem);
  font-family: var(--metropolisBold);
  width: 100%;
  text-align: center;
}

.contactText {
  font-family: var(--metropolisLight);
  text-align: center;
  display: flex;
  width: 70%;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 1.15rem);
}
.contactTextBold {
  font-family: var(--metropolisBold);
  width: 70%;
  font-size: clamp(1rem, 1.5vw, 1.15rem);
  text-align: center;
}
.containerContactForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
}
.leftElement {
  border: 1px solid;
  width: 100%;
}
.rightElement {
  width: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
}
.firstBoxContact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 18rem;

  justify-items: center;
  align-items: center;
  font-family: var(--metropolisLight);
}
.secondBoxContact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 18rem;
  justify-items: center;
  align-items: center;
  font-family: var(--metropolisLight);
}
.contactInfoTitle {
  font-family: var(--metropolisBold);
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

  
.cityLabel {
  font-family: var(--metropolisBold);
}
.emailBox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  /* margin-right: 6rem; */
}
.socialMediaBox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 10rem;
}
.phoneContactBox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 4rem;
}
.locationBox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.formContain {
  display: flex;
  font-family: var(--metropolisBold);
  width: 23rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}
.nameSurnameGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
}
.inputs {
  height: 2rem;
  border: 1.5px solid;
  font-family: var(--metropolisLight);
}
.inputMessage {
  height: 6rem;
  border: 1.5px solid;
  resize: none;
}
.buttonForm {
  height: 2.2rem;
  background: #066699;
  color: white;
  border: none;
  font-size: 1rem;
  font-family: var(--metropolisBold);
}
.buttonForm:disabled{
  background: #52829cfb;
}
.thanksForContactContainer {
  background: #066699;
  height: 35rem;
  width: 100%;
}

.thanksForContactInnerContainer {
  max-width: 80%;
  height: 100%;
  margin: auto;
  /* background: #000; */

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanksText {
  position: absolute;
  background: #fff;
  max-height: 100%;
  width: 50%;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thanksImg {
  position: absolute;
  left: 0;
  width: 50vw;
  height: 90%;
  object-fit: cover;
}
.thanks {
  font-family: var(--metropolisBold);
  color: #ffb200;
  /* font-size: 4.5rem; */
  font-size: clamp(2rem, 6vw, 5rem);
  letter-spacing: -0.1rem;
  height: 20%;
  /* height: 5rem; */
}
.forCommunicate {
  font-family: var(--metropolisBold);
  color: #066699;
  font-size: clamp(1.25rem, 3vw, 2.5rem);
  margin-bottom: 2rem;
  text-align: center;
  height: 20%;
}
.message {
  font-family: var(--metropolisLight);
  font-size: 0.85rem;
  line-height: 2rem;
  text-align: center;
  height: 60%;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}
.iconsFooter {
  text-decoration: none;
  color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width <= 1400px) {
  .thanksText {
    padding: 4rem;
  }
}

@media (width <= 1060px) {
  .thanksText {
    padding: 3rem;
  }
}


@media (width<=1024px) {
.firstBoxContact {
  height: 18rem;
  justify-items: center;
  justify-content: center;
}

.secondBoxContact {
  grid-template-columns: 43% 43%;
  height: 18rem;
  justify-items: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  }
}

@media (width<=912px) {
  .emailBox {
    margin-right: 0rem;
  }
  .firstBoxContact {
    height: 18rem;
    justify-items: center;
    gap: 3rem;
    justify-content: center;
}

}
@media (width<=820px) {
.secondBoxContact{
  grid-template-columns: 50% 50%;
}
}
@media (width<=768px) {

  .thanksText {
    padding: 2rem;
  }

  .thanksImg {
    width: 100%;
  }

  .thanksText {
    left: 50%;
    width: 80%;
  }
  
  .containerContactForm {
    grid-template-columns: initial;
  }
  .rightElement {
    padding: 3rem;
}

}

@media (width<=414px) {

.formContain {
  width: 63vw;
}
.nameSurnameGrid {
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
.responsiveNameSurname{
  display: grid;

}
}
@media (width<=412px) {
  .contactInfoTitle{
    font-size: 1.4rem;
  }
}
@media (width<=393px) {


}

@media (width<=375px) {
.contactTitle{
  font-size: 2rem;
}

}
@media (width<=360px) {
  .contactInfoTitle{
    font-size: 1.1rem;
  }
  .socialMediaBox {
    text-align: center;
}
  }
