.floating-container {
  position: fixed;
  bottom: 0rem;
  right: 0.5rem;
  margin: 10px 5px;
  z-index: 1;
  transition: all 0.3s;
}
.floating-container:hover {
  transform: scale(1.3);
}

.whatsappIcon {
  width: 4rem;
  height: 4rem;
}
