
@font-face {
  font-family: metroBold;
  src: url("../../../src/fonts/Metropolis-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: metroLight;
  src: url("../../../src/fonts/metropolis.thin.otf") format("opentype");
}
* {
  --metropolisBold: metroBold;
  --metropolisLight: metroLight;

}
.bodyFooter {
  display: grid;
  grid-template-columns: 20% 1% 58% 1% 20%;
  width: 100%;
  height:37vh;
  background: rgba(237, 237, 237);
  color: black;
  text-decoration: none;
  font-family: var(--metropolisBold);
  padding-top: 1rem;
}
.copyrigth {
  position: sticky;
  width: 100%;
  height: 2rem;
  background: rgba(237, 237, 237);
  text-align: center;
  line-height: 30px;
  font-size: 0.9rem;
  visibility: visible;
  color: rgba(0, 0, 0, 0.388);
  font-family: var(--metropolisLight);
}
.iconsNavigateFooter {
  font-family: var(--metropolisBold);

  display: grid;
  grid-template-rows: 11% 89%;
}
.followUsInfoLabelOriginTitle {
  font-size: 1.3rem;
  font-family: var(--metropolisBold);
  font-weight: bold;
}
.ContactNavigateFooter {
  display: grid;
  grid-template-rows: 18% 40% 28%;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
  font-family: var(--metropolisBold);
} 
.contactIconsFooter{
  justify-self: left;
  margin-left: 1.5rem;
}

.followUsContactContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  color: black;
  font-family: var(--metropolisBold);
}
.originsBlock {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  font-family: var(--metropolisBold);

  justify-content: center;
}
.followUsInfoLabelOrigin {
  font-size: 1.2rem;
  text-align: start;
  font-family: var(--metropolisLight);
}
.ContactUsContactContainer {
  font-family: var(--metropolisBold);
  color: black;
  justify-self: left;
}
.iconsFooter {
  text-decoration: none;
  color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.sliderFooter {
  color: black;
  font-family: var(--metropolisBold);
}
.followUs {
  text-align: start;
  font-family: var(--metropolisBold);
font-size: 1.5rem;
  color: black;
  margin-left: 4.5rem;


}
.ContactUs {
  text-align: center;
  justify-self: left;
  margin-left: 1.5rem;
  color: black;
  font-size: 1.5rem;
  font-family: var(--metropolisBold);
}
.footeremailIcon {
  color: black;
  font-family: var(--metropolisBold);
}
.contactUsInfoLabel {
  color: black;
  font-family: var(--metropolisBold);
}
.followUsInfoLabel {
  font-size: 0.65rem;
  color: black;
  font-family: var(--metropolisBold);
}

.containerLogo {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: var(--metropolisBold);
  margin-right: 2.5rem;
}

.imgLogo {
  width: 32vw;
}

.titleFooter {
  color: #066699;
  justify-self: center;
  font-size: 1.5rem;
  font-family: var(--metropolisBold);
}
.hrVertical {
  justify-self: center;

  height: 0.2rem;
  width: 10vw;
  transform: rotate(90deg);
  align-self: center;
  background-color: #066699;
  border: 0rem;
}
.correo {
  font-size: 1.1rem;
  font-family: var(--metropolisBold);
}
.titleCorreo {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: var(--metropolisBold);
}
.direccionCorreo{
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--metropolisLight);
}
