/* @import url('https://fonts.cdnfonts.com/css/maiandra-gd'); */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
:root {
  --monserrat: "Gruppo", cursive;
}
.titleEspaciosDisp {
  color: #066699;
  font-family: myFirstFont;
  font-size: 2.5rem;
}
.gridFullScreen {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.container {
  display: grid;
  justify-items: center;
}

@font-face {
  font-family: myFirstFont;
  src: url("../../../fonts/Metropolis-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: MetropolisBold;
  src: url("../../../fonts/metropolis.extra-bold.otf") format("opentype");
}
.iconsGrid {
  padding-top: 5vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
}
.icon {
  width: 14vw;
  height: 13vw;
}

.iconsText {
  margin-top: 2vh;
  font-family: MetropolisBold;
  font-size: 1.1rem;
}
.itemIcon {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.timeline {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}
.imgTimeline {
  width: 95vw;
}

/* ----------------------------------------------------------------------------- */

.initialPosition {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 80vh;
  width: 97%;
}

/* ----------------------------------------------------------------- */

.titleInformation {
  width: 50%;
  height: 100%;
  margin: 0;
}

.principalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  box-shadow: 0px 0px 20px rgba(255, 166, 0, 0.555);
}

.principalTitle h1 {
  font-family: myFirstFont;
  font-size: 6rem;
  color: #066699;
  padding: 2rem;
  font-weight: 900;
}

.infoTable {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90%; */
  margin-top: 1rem;
}

.infoTable img {
  width: 90%;
}

/* ----------------------------------------------------------------- */

.sectionHome {
  width: 50%;
  height: 100%;
  padding: 0;
  /* padding-top: 2rem; */
  /* border: solid red 1px; */
}

.carouselHome {
  display: block;
  text-align: left;
  position: relative;
  /* margin-bottom: 22px; */
}

.carouselHome > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.carouselHome
  > input:nth-of-type(8):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -700%;
}

.carouselHome
  > input:nth-of-type(7):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -600%;
}

.carouselHome
  > input:nth-of-type(6):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carouselHome
  > input:nth-of-type(5):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carouselHome
  > input:nth-of-type(4):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carouselHome
  > input:nth-of-type(3):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carouselHome
  > input:nth-of-type(2):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carouselHome
  > input:nth-of-type(1):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carouselHome
  > input:nth-of-type(1):checked
  ~ .carousel__thumbnails
  li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  border-radius: 5px;
}
.carouselHome
  > input:nth-of-type(2):checked
  ~ .carousel__thumbnails
  li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  border-radius: 5px;
}
.carouselHome
  > input:nth-of-type(3):checked
  ~ .carousel__thumbnails
  li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  border-radius: 5px;
}
.carouselHome
  > input:nth-of-type(4):checked
  ~ .carousel__thumbnails
  li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  border-radius: 5px;
}
.carouselHome
  > input:nth-of-type(5):checked
  ~ .carousel__thumbnails
  li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  border-radius: 5px;
}
.carouselHome
  > input:nth-of-type(6):checked
  ~ .carousel__thumbnails
  li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  border-radius: 5px;
}

.carouselHome
  > input:nth-of-type(7):checked
  ~ .carousel__thumbnails
  li:nth-of-type(7) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  border-radius: 5px;
}

.carouselHome
  > input:nth-of-type(8):checked
  ~ .carousel__thumbnails
  li:nth-of-type(8) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  border-radius: 5px;
}
.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
  border-radius: 5px;
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
  border-radius: 5px;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}

.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
  /* height: 10rem; */
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  /* margin: 0 25px; */
  margin-right: 5px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* --------------------------------------------------------------------------------- */

.ubicacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 90vh;
  margin-bottom: 5rem;
  margin-top: 7rem;
}

.titleUbicacion {
  text-align: center;
  width: 100%;
  color: #066699;
  font-family: myFirstFont;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.map {
  width: 100vw;
  height: 90%;
  padding-left: 10rem;
  padding-right: 10rem;
}
.dimesionMap {
  width: 100%;
  height: 100%;
}

.carouselWrapperBuildings {
  width: 97vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.313rem 0.31rem 1.563rem 0rem rgba(46, 61, 73, 0.2);
  border-radius: 1.25rem;
  margin: 0.8rem auto 1.25rem;
}

.carouselContainerBuildings {
  width: 162.5rem;
  height: 20rem;
  overflow: hidden;
  margin: 1.5rem;
}

.carouselBuildings div {
  width: 162.5rem;
  height: 20rem;

  background-size: cover;
  background-position: center;
}
.carouselBuildings {
  display: flex;
  width: 162.5rem;
  animation: sliding 8s infinite;
}
.carouselBuildings:hover {
  animation-play-state: paused;
}
.carouselBuildings .imageOne {
  background-image: url("https://res.cloudinary.com/dxajrtcwk/image/upload/v1684178350/Origin1%20Acabados/galeriacorreccion_1_tmz8oq.jpg");
}
.carouselBuildings .imageTwo {
  background-image: url("https://res.cloudinary.com/dxajrtcwk/image/upload/v1684178350/Origin1%20Acabados/galeria-1-origin1_hcuhwj.jpg");
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-1300px);
  }
  65% {
    transform: translateX(-1300px);
  }
  70% {
    transform: translateX(-1300px);
  }
  98% {
    transform: translateX(-1300px);
  }
  100% {
    transform: translateX(0);
  }
}
@media (width<=1280px) {
  .introduction {
    margin-top: 5rem;
    margin-bottom: 0rem;
    height: 65vh;
    width: 98%;
  }
}
@media (width<=1024px) {
  .carouselWrapperBuildings {
    width: 78vw;
    height: 41vh;
  }

  .carouselContainerBuildings {
    width: 47rem;
    height: 11rem;
    margin: 1.5rem;
  }

  .carouselBuildings div {
    width: 257rem;
    height: 11.5rem;
    background-size: contain;
  }
  .carouselBuildings {
    display: flex;
    width: 162.5rem;
    margin-left: -17rem;
  }
}
@media (width<=912px) {
  .principalTitle {
    height: 13%;
  }
  .principalTitle h1 {
    font-family: myFirstFont;
    font-size: 3rem;
  }
  .introduction {
    margin-top: 5rem;
    margin-bottom: 0rem;
    height: 35vh;
    width: 98%;
  }
  .ubicacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 30vh;
    margin-bottom: 5rem;
    margin-top: 0rem;
  }
  .map {
    width: 100vw;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .titleEspaciosDisp {
    margin-top: 3rem;
  }
  .iconsText {
    text-align: center;
  }
  .carouselWrapperBuildings {
    width: 86vw;
    height: 16vh;
    margin-top: 2rem;
  }
}
@media (width<=820px) {
  .carouselWrapperBuildings {
    width: 95vw;
    height: 17vh;
    margin-top: 2rem;
  }
  .carouselContainerBuildings {
    margin: 0rem;
  }
}
@media (width<=540px) {
  .introduction {
    margin-top: 1rem;
  }
  .principalTitle h1 {
    font-family: myFirstFont;
    font-size: 1rem;
  }
  .titleUbicacion {
    font-size: 1.5rem;
  }
  .map {
    width: 100vw;
    height: 50vh;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .titleEspaciosDisp {
    margin-top: 23vh;
    font-size: 1.5rem;
  }
  .iconsText {
    margin-top: 2vh;
    font-family: MetropolisBold;
    font-size: 0.6rem;
  }

  .carouselBuildings div {
    width: 257rem;
    height: 6.5rem;
    background-size: contain;
  }
  .carouselBuildings {
    display: flex;
    width: 162.5rem;
    margin-left: -27rem;
  }

  .carouselWrapperBuildings {
    width: 86vw;
    height: 20vh;
    margin-top: 2rem;
  }
  .carouselContainerBuildings {
    height: fit-content;
    margin: 1rem;
  }
}

@media (width<=414px) {
  .introduction {
    height: 25vh;
  }
  .map {
    width: 100vw;
    height: 29vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .titleEspaciosDisp {
    margin-top: 3vh;
  }
  .carouselBuildings div {
    width: 257rem;
    height: 5.1rem;
    background-size: contain;
  }
  .carouselBuildings {
    display: flex;
    width: 162.5rem;
    margin-left: -30rem;
  }

  .carouselWrapperBuildings {
    width: 89vw;
    height: 15vh;
    margin-top: 2rem;
  }
  .carouselContainerBuildings {
    height: fit-content;
    margin: 1rem;
  }
}
@media (width<=412px) {


  .carouselWrapperBuildings {
    width: 89vw;
    height: 14vh;
    margin-top: 2rem;
  }

}
@media (width<=393px) {
  .carouselBuildings div {
    width: 257rem;
    height: 4.9rem;
    background-size: contain;
  }
  .carouselBuildings {
    display: flex;
    width: 162.5rem;
    margin-left: -30.5rem;
  }

  .carouselWrapperBuildings {
    width: 91vw;
    height: 15vh;
    margin-top: 2rem;
  }
  .carouselContainerBuildings {
    height: fit-content;
    margin: 1rem;
  }
}
@media (width<=375px) {
  .map {
    width: 100vw;
    height: 45vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .titleEspaciosDisp {
    margin-top: 0vh;
  }
  .titleUbicacion {
    font-size:1rem;

    margin-top: 1.5rem;
  }

  .carouselWrapperBuildings {
    width: 93vw;
    height: 15vh;
    margin-top: 2rem;
  }
}
@media (width<=360px) {
  .titleEspaciosDisp {
    margin-top: 28vh;
    font-size:1rem;
  }
  .iconsText{
    font-size: 0.5rem;
  }
}
