@import url("https://fonts.cdnfonts.com/css/maiandra-gd");

:root {
  --headlinesFont: "Maiandra GD", sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  font-family: "Maiandra GD", sans-serif;
}
html {
  scroll-behavior: smooth;
}
