@font-face {
  font-family: metroBold;
  src: url("../../../src/fonts/Metropolis-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: metroLight;
  src: url("../../../src/fonts/metropolis.thin.otf") format("opentype");
}
* {
  --metropolisBold: metroBold;
  --metropolisLight: metroLight;

}

.head {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 33rem;
}
.renderImg {
  width: 100%;
  border-radius: 2rem;
}
.title {
  width: 100%;
  height: 12rem;
  background: #ffb200;
  margin-top: 5rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  text-align: center;
  line-height: 12rem;
}
.textTitle {
  color: white;
  font-size: 7rem;
  font-family: var(--metropolisBold);
}
.newContent {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
}
.new {
  font-family: var(--metropolisBold);
  color: rgb(255, 178, 0);
  font-size: 3.5rem;
}
.project {
  font-family: var(--metropolisBold);
  font-size: 3.5rem;
}
.porcentage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.weGolikeThis {
  font-size: 2.5rem;
  font-family: var(--metropolisBold);
  color: #066699;
  margin-top: 4rem;
  justify-self: center;
}
.porcentageContainer{
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-top: 6rem;
}
.porcentageNumber {
  font-family: var(--metropolisBold);
  font-size: 5rem;
  text-align: center;
}
.buildingPart {

  font-size: 1.5rem;
  font-family: var(--metropolisBold);
  text-align: center;
}
.porcentageBarImg {
position: relative;
bottom: 14rem;
}
.knowOurBuildings {
  display: grid;
  grid-template-columns: 15% 65% 10%;
  background: rgb(6, 102, 153);
  justify-content: center;
  height: 20rem;
  margin-top: 13rem;
}
.buildingLogo {
  width: 15rem;
  height: 15rem;
  justify-self: center;
  align-self: center;
}
.containTitleBlueBar {
  display: grid;
  font-size: 4rem;
  font-family: var(--metropolisBold);
  align-content: center;
  color: rgb(255, 178, 0);
}
.gridtextBlueBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.linkStyle {
  text-decoration: none;
  color: white;
}
.apartments {
  color: white;
  margin-right: 1rem;
}
.knowTheText {
  justify-self: center;
}
.seeMoreBtn {
  justify-self: center;
  align-self: end;
  margin-bottom: 3rem;
  width: 5.5rem;
  height: 3rem;
  font-family: var(--metropolisBold);
  color: white;
  background: rgb(58, 172, 58);
  border: none;
  font-size: 1rem;
}
.redirect {
  text-decoration: none;
}
.timeline {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}
.imgTimeline {
  width: 95vw;
}
.ubicationTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2.5rem;
  font-family: var(--metropolisBold);
  color: rgb(6, 102, 153);
}
.titleUnderline {
  border-bottom: 3px solid rgb(6, 102, 153);
  width: 3.5rem;
}
.titleContain {
  display: grid;
  justify-items: center;
}

.ubicationContainer {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 45% 45%;
  justify-content: center;
  gap: 2rem;
  height: 28rem;
}
.mapOrigin3 {
  width: 100%;
  height:100%;
}
.ubicationImg {
  width: 100%;
  height: 100%;
}
.availableSpacesTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3.5rem;
  font-family: var(--metropolisBold);
  color: rgb(6, 102, 153);
  margin-top: 2rem;
}

.icon {
  width: fit-content;
  height: fit-content;
}

.iconsText {
  margin-top: 1vh;
  font-family: var(--metropolisBold);
  font-size: 1.4rem;
  width: 10rem;
  text-align: center;
}
.itemIcon {
  display: grid;
  justify-content: center;
  justify-items: center;
}
.iconsGrid {
  display: grid;
  grid-template-columns: 15% 15%15%15%;
  justify-content: center;
  gap: 4rem;
}
.titleModelApartmentsContain {
  margin-top: 1.5rem;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}
.titleModelApartments {
  font-size: 4rem;
  font-family: var(--metropolisBold);
  color: rgb(255, 178, 0);
  display: flex;
  justify-content: center;
  align-content: center;
}
.titleUnderlineModelApartments {
  width: 70vw;
  border: solid rgb(255, 178, 0);
}
.titleUnderlineModelApartmentsSoft {
  border-bottom: 1px solid rgb(255, 178, 0);
  width: 70vw;
}
.apartmentsGrid {
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: grid;
  grid-template-columns: 40% 45%;
  justify-content: center;
  gap: 1rem;
}
.imgAptos {
  width: 100%;
}
.availableLeftSideGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  border: 5px solid rgb(6, 102, 153);
  align-items: center;
  justify-items: center;
  height: 7rem;
}
.leftSideContainer {
  display: grid;
  gap: 1rem;
  height: 90%;
}
.greenCircle {
  background: rgb(152, 216, 87);
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  border-radius: 50%;
}
.redCircle {
  background: rgb(209, 102, 66);
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  border-radius: 50%;
}
.availabilityLabelContainer {
  display: grid;
  gap: 1rem;
}
.availabilityLabel {
  display: grid;
  grid-template-columns: 15% 85%;
  gap: 0.5rem;
  font-size: 1rem;
  justify-content: center;
  font-family: var(--metropolisLight);
}

.availabilityLabelApto {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1rem;
  justify-content: center;
}
.greenCircleApto {
  background: rgb(152, 216, 87);
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  border-radius: 50%;
}

.aptosContainer {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}
.aptoCard {
  background: rgb(6, 102, 153);
  display: grid;
  grid-template-rows: 45% 55%;
  height: 11em;
border-radius: 0.3rem;
}
.availabilityText {
  justify-self: center;
  align-self: center;
  background: white;
  font-family: var(--metropolisBold);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 1.3rem;
  font-size: 1.5rem;
}
.aptoImg {
  height: 5.3rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}
.aptoBottomGrid {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 0.5rem;
}
.numberApartmentsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
  align-items: center;
  background: white;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
}
.availabilityTextApto {
  background: rgb(255, 178, 0);
  color: white;
  text-shadow: 0 0 10px #000;
  -moz-text-shadow: 0 0 10px #000;
  -webkit-text-shadow: 0 0 10px #000;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-right:0.4rem;
  margin-left: 1rem;
font-family: var(--metropolisBold);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.3rem;
}
.aptoTopGrid {
  display: grid;
  grid-template-columns: 60% 40%;
}
.textApto {
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
}
.typeApto {
  font-family: var(--metropolisBold);
  font-size: 2rem;
  letter-spacing: 0.3rem;
}
.typeAptoDescription {
  font-family: var(--metropolisLight);
}
.seeMoreBtnApto {
  width: 5.5rem;
  height: 2.5rem;
  font-family: var(--metropolisBold);
  color: white;
  background: rgb(58, 172, 58);
  border: none;
  font-size: 1rem;
}
.detailSection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.informationBox {
  display: grid;
  grid-template-rows: 15% 25% 20% 40%;
  width: 35%;
  box-shadow: 0px 0px 15px black;
}

.informationBox h5 {
  font-size: 82%;
  color: rgb(6, 102, 153);
  font-family: var(--metropolisBold);
}

.firstBox {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 90%;
  border: solid rgb(172, 169, 169) 1px;
  border-left-color: #fff;
  border-right-color: #fff;
  border-top-color: #fff;
}

.secondBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;

  justify-self: center;
  border: solid rgb(172, 169, 169) 1px;
  border-left-color: #fff;
  border-right-color: #fff;
  border-top-color: #fff;
}

.thirdBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;

  justify-self: center;
  border: solid rgb(172, 169, 169) 1px;
  border-left-color: #fff;
  border-right-color: #fff;
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.fourthBox {
  display: flex;
  flex-wrap: wrap;
  width: 90%;

  justify-self: center;
  margin-bottom: 2%;
}

.spaceOne {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 33.3%;
  border: solid rgb(216, 215, 215) 1px;
  border-left-color: #fff;
  border-top-color: #fff;
}

.spaceTow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 33.3%;
  border: solid rgb(216, 215, 215) 1px;
  border-top-color: #fff;
  border-right-color: #fff;
}

.spaceThree {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 33.3%;
  border: solid rgb(216, 215, 215) 1px;
  border-left-color: #fff;
}

.spaceFour {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 33.3%;
  border: solid rgb(216, 215, 215) 1px;
  border-right-color: #fff;
}

.spaceFive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 33.3%;
  border: solid rgb(216, 215, 215) 1px;
  border-left-color: #fff;
  border-bottom-color: #fff;
}

.sapaceSix {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 33.3%;
  border: solid rgb(216, 215, 215) 1px;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.sliderComponent {
  width: 55%;
  padding: 1rem;
  box-shadow: 0px 0px 20px rgb(58, 59, 59);
  border: solid 3px rgb(6, 102, 153);
  ;
}

/* ------------------------------------------------------------------- */

.containerHome {
  width: 100%;
}

.containerHome h1 {
  color: rgb(6, 102, 153);
  font-family: var(--metropolisBold);
}

.carouselHome {
  display: block;
  text-align: left;
  position: relative;
  /* margin-bottom: 22px; */
}

.unorderList {
  margin-bottom: 10px;
}

.unorderList:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(6, 102, 153);
}

.carouselHome > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carouselHome
  > input:nth-of-type(6):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carouselHome
  > input:nth-of-type(5):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carouselHome
  > input:nth-of-type(4):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carouselHome
  > input:nth-of-type(3):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carouselHome
  > input:nth-of-type(2):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carouselHome
  > input:nth-of-type(1):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carouselHome
  > input:nth-of-type(1):checked
  ~ .carousel__thumbnails
  li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  /* border-radius: 10px; */
}
.carouselHome
  > input:nth-of-type(2):checked
  ~ .carousel__thumbnails
  li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  /* border-radius: 10px; */
}
.carouselHome
  > input:nth-of-type(3):checked
  ~ .carousel__thumbnails
  li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  /* border-radius: 10px; */
}
.carouselHome
  > input:nth-of-type(4):checked
  ~ .carousel__thumbnails
  li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  /* border-radius: 10px; */
}
.carouselHome
  > input:nth-of-type(5):checked
  ~ .carousel__thumbnails
  li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  /* border-radius: 10px; */
}
.carouselHome
  > input:nth-of-type(6):checked
  ~ .carousel__thumbnails
  li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 255, 0.5);
  /* border-radius: 10px; */
}
.initialPosition {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
  /* border-radius: 20px; */
}

.carousel__slide ul {
  margin-left: 10px;
}
.carousel__slide a {
  text-decoration: none;
  color: black;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 20px; */
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 30%;
  min-width: 150px;
}

.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
p:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(6, 102, 153);
}

.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (width<=1280px) {
}
@media (width<=1024px) {
  .informationBox h5 {
    font-size: 0.6rem;
  }
  .head {
    height: 35rem;
  }
  .containTitleBlueBar {
    font-size: 3.5rem;
  }
  .knowOurBuildings {
    grid-template-columns: 25% 65% 10%;
    margin-top: 5rem;
  }
  .apartmentsGrid {
    grid-template-columns: 40% 60%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .porcentageBarImg {
    position: relative;
    bottom: 13.3rem;
    right: 0rem;
  }
  .seeMoreBtn {
    margin-bottom: 1rem;
  }
  .interestSites {
    font-size: 1.5rem;
  }
  .mapOrigin3 {
    height: 100%;
  }
  .ubicationContainer {
    height: 20rem;
  }
  .textTitle {
    font-size: 6rem;
  }
  .new {
    font-size: 2rem;
  }
  .project {
    font-size: 2rem;
  }
  .weGolikeThis {
    font-size: 2rem;
  }
}
@media (width<=912px) {
  .detailSection {
    display: grid;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .sliderComponent {
    justify-self: center;
  }
  .informationBox {
    justify-self: center;
  }
}
@media (width<=820px) {
}
@media (width<=540px) {
}

@media (width<=414px) {
}
@media (width<=412px) {
}
@media (width<=393px) {
}
@media (width<=375px) {
}
@media (width<=360px) {
}
